.home-div{
    display: flex;
    justify-content: center;
  .home-select{
    margin: 20px 0px;
    width: 80%;
    height: 65px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 5px rgb(194, 191, 191);
  }
}